<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btree.beekey">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeeKey"
        android:usesCleartextTraffic="true">
        <activity android:name=".Controller.Activity.MainActivity" />
        <activity android:name=".Controller.Activity.RequestViewDoingActivity"/>
        <activity android:name=".Controller.Activity.RequestViewPendingActivity" />
        <activity android:name=".Controller.Activity.TaskViewActivity"/>
        <activity android:name=".Controller.Activity.TopUpActivity"/>
        <activity android:name=".Controller.Activity.ForgetPasswordActivity" />
        <activity android:name=".Controller.Activity.ChangeInformationActivity" />
        <activity android:name=".Controller.Activity.ChangePasswordActivity" />
        <activity android:name=".Controller.Activity.SignUpActivity" />
        <activity android:name=".Controller.Activity.MyListRequestActivity" />
        <activity android:name=".Controller.Activity.MyListTaskActivity" />
        <activity android:name=".Controller.Activity.CounterOfferActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.Activity.ReportActivity" />
        <activity android:name=".Controller.Activity.LoginActivity">
        </activity>
    </application>
</manifest>